# IMPORTING LIBRARIES FIRST IS IMPORTANT

In [22]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# UPLOADING THE CSV FILE

In [23]:
dataset = pd.read_csv(r"D:\MILITARY_EXPENDITURE_ANALYSIS\military expenditure.csv") # This command is used to read the dataset.
dataset

,country,iso3c,iso2c,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
0,Afghanistan,AFG,AF,1970,2.939586e+06,NaN,1.629606,South Asia,Low income
1,Afghanistan,AFG,AF,1971,NaN,NaN,NaN,South Asia,Low income
2,Afghanistan,AFG,AF,1972,NaN,NaN,NaN,South Asia,Low income
3,Afghanistan,AFG,AF,1973,3.341272e+06,NaN,1.868910,South Asia,Low income
4,Afghanistan,AFG,AF,1974,3.581366e+06,NaN,1.610825,South Asia,Low income
...,...,...,...,...,...,...,...,...,...
13561,Zimbabwe,ZWE,ZW,2016,3.580650e+08,7.363048,1.742494,Sub-Saharan Africa (excluding high income),Lower middle income
13562,Zimbabwe,ZWE,ZW,2017,3.405220e+08,5.519890,1.544948,Sub-Saharan Africa (excluding high income),Lower middle income
13563,Zimbabwe,ZWE,ZW,2018,4.203640e+08,5.607096,1.222795,Sub-Saharan Africa (excluding high income),Lower middle income
13564,Zimbabwe,ZWE,ZW,2019,5.469390e+08,2.099816,0.698601,Sub-Saharan Africa (excluding high income),Lower middle income
13565,Zimbabwe,ZWE,ZW,2020,NaN,NaN,NaN,Sub-Saharan Africa (excluding high income),Lower middle income

In [24]:
dataset.head() # This command is used to display the first 5 rows of the dataset.

,country,iso3c,iso2c,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
0,Afghanistan,AFG,AF,1970,2.939586e+06,NaN,1.629606,South Asia,Low income
1,Afghanistan,AFG,AF,1971,NaN,NaN,NaN,South Asia,Low income
2,Afghanistan,AFG,AF,1972,NaN,NaN,NaN,South Asia,Low income
3,Afghanistan,AFG,AF,1973,3.341272e+06,NaN,1.868910,South Asia,Low income
4,Afghanistan,AFG,AF,1974,3.581366e+06,NaN,1.610825,South Asia,Low income

In [25]:
dataset.tail() # This command is used to display the last 5 rows of the dataset.

,country,iso3c,iso2c,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
13561,Zimbabwe,ZWE,ZW,2016,358065000.0,7.363048,1.742494,Sub-Saharan Africa (excluding high income),Lower middle income
13562,Zimbabwe,ZWE,ZW,2017,340522000.0,5.519890,1.544948,Sub-Saharan Africa (excluding high income),Lower middle income
13563,Zimbabwe,ZWE,ZW,2018,420364000.0,5.607096,1.222795,Sub-Saharan Africa (excluding high income),Lower middle income
13564,Zimbabwe,ZWE,ZW,2019,546939000.0,2.099816,0.698601,Sub-Saharan Africa (excluding high income),Lower middle income
13565,Zimbabwe,ZWE,ZW,2020,NaN,NaN,NaN,Sub-Saharan Africa (excluding high income),Lower middle income

In [26]:
dataset.shape # This command is used to display the number of rows and columns in the dataset.

(13566, 9)

In [27]:
dataset.columns # This command is used to display the names of the columns in the dataset.

Index(['country', 'iso3c', 'iso2c', 'year',
       'Military expenditure (current USD)',
       'Military expenditure (% of general government expenditure)',
       'Military expenditure (% of GDP)', 'adminregion', 'incomeLevel'],
      dtype='object')

In [28]:
dataset.dtypes # This command is used to display the data types of the columns in the dataset.

country                                                        object
iso3c                                                          object
iso2c                                                          object
year                                                            int64
Military expenditure (current USD)                            float64
Military expenditure (% of general government expenditure)    float64
Military expenditure (% of GDP)                               float64
adminregion                                                    object
incomeLevel                                                    object
dtype: object

In [29]:
dataset["country"].unique() # This command is used to display the unique values in the "country_name" column.

array(['Afghanistan', 'Africa Eastern and Southern',
       'Africa Western and Central', 'Albania', 'Algeria',
       'American Samoa', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Arab World', 'Argentina', 'Armenia', 'Aruba', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'British Virgin Islands', 'Brunei Darussalam',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia',
       'Cameroon', 'Canada', 'Caribbean small states', 'Cayman Islands',
       'Central African Republic', 'Central Europe and the Baltics',
       'Chad', 'Channel Islands', 'Chile', 'China', 'Colombia', 'Comoros',
       'Congo, Dem. Rep.', 'Congo, Rep.', 'Costa Rica', "Cote d'Ivoire",
       'Croatia', 'Cuba', 'Curacao', 'Cyprus', 'Czech Republic',
       'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Early-demographic dividend', 'East Asia & Pacific',
       'East Asia & Pacific (IDA & IBRD countries)',
       'East Asia & Pacific (excluding high income)', 'Ecuador',
       'Egypt, Arab Rep.', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (IDA & IBRD countries)',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Faroe Islands', 'Fiji', 'Finland',
       'Fragile and conflict affected situations', 'France',
       'French Polynesia', 'Gabon', 'Gambia, The', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Honduras', 'Hong Kong SAR, China', 'Hungary', 'IBRD only',
       'IDA & IBRD total', 'IDA blend', 'IDA only', 'IDA total',
       'Iceland', 'India', 'Indonesia', 'Iran, Islamic Rep.', 'Iraq',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Jamaica', 'Japan',
       'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       "Korea, Dem. People's Rep.", 'Korea, Rep.', 'Kosovo', 'Kuwait',
       'Kyrgyz Republic', 'Lao PDR', 'Late-demographic dividend',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Latin America & the Caribbean (IDA & IBRD countries)', 'Latvia',
       'Least developed countries: UN classification', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Middle East & North Africa',
       'Middle East & North Africa (IDA & IBRD countries)',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North America', 'North Macedonia',
       'Northern Mariana Islands', 'Norway', 'Not classified',
       'OECD members', 'Oman', 'Other small states',
       'Pacific island small states', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Post-demographic dividend',
       'Pre-demographic dividend', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Small states', 'Solomon Islands', 'Somalia', 'South Africa',
       'South Asia', 'South Asia (IDA & IBRD)', 'South Sudan', 'Spain',
       'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (IDA & IBRD countries)',
       'Sub-Saharan Africa (excluding high income)', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Upper middle income', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'World', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [30]:
dataset.nunique() # This command is used to display the number of unique values in each column of the dataset.

country                                                        266
iso3c                                                          264
iso2c                                                          263
year                                                            51
Military expenditure (current USD)                            8407
Military expenditure (% of general government expenditure)    5041
Military expenditure (% of GDP)                               8428
adminregion                                                      6
incomeLevel                                                      6
dtype: int64

In [31]:
dataset.describe() # This command is used to display the summary statistics of the dataset.

,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP)
count,13566.000000,8.769000e+03,5282.000000,8777.000000
mean,1995.000000,3.676065e+10,7.658514,2.722603
std,14.720144,1.422587e+11,6.048938,2.921869
min,1970.000000,0.000000e+00,0.000000,0.000000
25%,1982.000000,1.200000e+08,3.665614,1.327207
50%,1995.000000,1.148446e+09,6.033675,2.013005
75%,2008.000000,8.533090e+09,9.996249,3.218261
max,2020.000000,1.928852e+12,57.478098,117.349823

In [32]:
dataset.value_counts() # This command is used to display the frequency of each unique value in the dataset.

country      iso3c  iso2c  year  Military expenditure (current USD)  Military expenditure (% of general government expenditure)  Military expenditure (% of GDP)  adminregion                                         incomeLevel
Afghanistan  AFG    AF     2004  1.251116e+08                        16.134336                                                   2.431258                         South Asia                                          Low income             1
Morocco      MAR    MA     2013  4.065552e+09                        11.556215                                                   3.805783                         Middle East & North Africa (excluding high income)  Lower middle income    1
                           2005  2.031131e+09                        10.512856                                                   3.257997                         Middle East & North Africa (excluding high income)  Lower middle income    1
                           2006  2.134595e+09                        11.060904                                                   3.109796                         Middle East & North Africa (excluding high income)  Lower middle income    1
                           2007  2.408350e+09                        10.652542                                                   3.046954                         Middle East & North Africa (excluding high income)  Lower middle income    1
                                                                                                                                                                                                                                            ..
Ethiopia     ETH    ET     2001  3.498083e+08                        19.233520                                                   4.349021                         Sub-Saharan Africa (excluding high income)          Low income             1
                           2002  2.889323e+08                        14.842017                                                   3.719388                         Sub-Saharan Africa (excluding high income)          Low income             1
                           2003  2.786732e+08                        11.977110                                                   3.238843                         Sub-Saharan Africa (excluding high income)          Low income             1
                           2004  3.110387e+08                        13.273374                                                   3.072650                         Sub-Saharan Africa (excluding high income)          Low income             1
Zimbabwe     ZWE    ZW     2019  5.469390e+08                        2.099816                                                    0.698601                         Sub-Saharan Africa (excluding high income)          Lower middle income    1
Name: count, Length: 2724, dtype: int64

In [33]:
dataset.isnull() # This command is used to check for missing values in the dataset.

,country,iso3c,iso2c,year,Military expenditure (current USD),Military expenditure (% of general government expenditure),Military expenditure (% of GDP),adminregion,incomeLevel
0,False,False,False,False,False,True,False,False,False
1,False,False,False,False,True,True,True,False,False
2,False,False,False,False,True,True,True,False,False
3,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...
13561,False,False,False,False,False,False,False,False,False
13562,False,False,False,False,False,False,False,False,False
13563,False,False,False,False,False,False,False,False,False
13564,False,False,False,False,False,False,False,False,False
13565,False,False,False,False,True,True,True,False,False

In [34]:
dataset.info() # This command is used to display the information about the dataset.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13566 entries, 0 to 13565
Data columns (total 9 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   country                                                     13566 non-null  object
 1   iso3c                                                       13464 non-null  object
 2   iso2c                                                       13413 non-null  object
 3   year                                                        13566 non-null  int64
 4   Military expenditure (current USD)                          8769 non-null   float64
 5   Military expenditure (% of general government expenditure)  5282 non-null   float64
 6   Military expenditure (% of GDP)                             8777 non-null   float64
 7   adminregion                                                 6987 non-null   object
 8   incomeLevel                                                 13464 non-null  object
dtypes: float64(3), int64(1), object(5)
memory usage: 954.0+ KB

## Filtering the dataset for few example countries.

In [35]:
countries=["United States","China","United Kingdom","India","France"]
filtered_data=dataset[dataset["country"].isin(countries)]

In [36]:
# Plotting the military expenditure of the top 5 countries in the world.
plt.figure(figsize=(12,8))
sns.lineplot(data=filtered_data, x="year", y="military_expenditure", hue="country")

ValueError: Could not interpret value `military_expenditure` for `y`. An entry with this name does not appear in `data`.